@import'./base/hiden';
@import'./base/common';
@import'./utils/variables';
@import'./base/reset';
@import'./components/container';
@import'./components/btn-portfolio';

@import'./layouts/portfolio';
@import'./layouts/modal';
@import'./layouts/footer';
@import'./layouts/klient';
@import'./layouts/team';
@import'./layouts/work';
@import'./layouts/features';
@import'./layouts/hero';
@import'./layouts/header';