html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    list-style: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
}